<section class="main-page">
      <div class="header-block">
        <p class="text text1"><span class="span1">Welcome</span></p>
        <p class="text text2"><span class="span2">to</span></p>
        <p class="text text3"><span class="span3">Simple EC</span></p>
      </div>
      <div class="info-div">
        <p class="info">
          We are an online business focused on providing the most poggers
          service you could imagine. We could not care less about the enviroment
          and that's why our server's run 24/7 with no regards for energy
          consumption, just so you can enjoy your time in our website!
        </p>
        <a href="/about" class="info-link">Learn More About Us</a>
      </div>
</section>

